* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  background-color: #f5f6fa;
  color: #333;
}

.dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #002147;
  color: white;
  padding: 30px 0px 30px 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar>.dash-link a {
  text-decoration: none;
  font-weight: 700;
  color: rgba(231, 158, 3, 1);
  display: block;
}

.sidebar>.dash-link a {
  margin: 40px 0;
  cursor: pointer;
  gap: 10px;
}

.dash-link i {
  margin-right: 10px;
  color: rgba(231, 158, 3, 1);
}

.sidebar a.active,
.sidebar a:hover {
  background-color: #fff;
  padding: 15px;
 border-radius: 10px 0px 0px 10px;
}

.main {
  margin-left: 220px;
  padding: 20px;
  overflow-y: auto;
  width: calc(100% - 220px);
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .actions input {
  width: 100%;
  padding: 8px;
  width: 400px;
  margin-right: 10px;
}

.btn-create {
  margin-top: 20px;
  background-color: #ffa500;
  border: none;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.btn-create:hover {
  box-shadow: 0px 4px 44px 0px rgba(231, 158, 3, 1);

}

.actions {
  display: flex;
  align-items: center;
  gap: 7px;
}

.container {
  width: 100%;
  margin: auto;
}

h2 {
  margin-bottom: 10px;
}

.upload-box {
  border-radius: 10px;
  padding: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-box:hover {
  background-color: #f0f8ff;
}

.upload-box img {
  width: 60px;
  height: 60px;
  opacity: 0.5;
  margin-bottom: 10px;
  align-items: center;
}

.upload-box p {
  color: #666;
  font-size: 14px;
}

.inputs{
  margin-top: 100px;
  
}
.inputs input{
  padding: 0px 15px;
}
.inputs #blue{
  background: rgba(6, 28, 104, 1);
  color: #fff;
  font-weight: 600;
}

.in-94{
  width: 89%;
  height: 40px;
}
.in-10{
  width: 10%;
  height: 40px;
}
.group-input > input{
  margin-top: 10px;
  width: 49.5%;
  height: 40px;
}
.in-50{
  margin-top: 10px;
  width: 49.5%;
  height: 40px;
}

.container{
  margin-top: 30px;
}

.text-ra{
  margin-top: 30px;
}

textarea{
  width: 100%;
  border-radius: 5px;
}
.form-set{
  max-width: 100%;
  padding: 20px;
}

.row{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.move-right{
  width: 100%;
  height: auto;
  align-items: right;
}
label{
  margin-bottom: 10px;
  font-weight: 600;
}

input{
  height: 40px;
}

.form-img {
  margin-top: 10px;
  width: 4%;
  position: relative;
  text-align: center;
}

.image-section{
  max-width: 100%;
}
.image-div{
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
  position: relative;
}
.image-div::-webkit-scrollbar{
  display: none;
}
.image-div > img{
  width: 300px;
}

.button-group{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.button-group > button{
  padding: 9px 40px;
  border: none;
  background: rgba(231, 158, 3, 1);
  color: #f0f8ff;
  font-weight: 600;
}
.spe{
  color: rgba(231, 158, 3, 1) !important;
  font-weight: 600;
  border: 1px solid rgba(231, 158, 3, 1) !important;
  background-color: transparent !important;
  border-radius: 10px;
}
