* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  background-color: #f5f6fa;
  color: #333;
}

.dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #002147;
  color: white;
  padding: 30px 0px 30px 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar >.dash-link a{
  text-decoration: none;
  font-weight: 700;
  color:rgba(231, 158, 3, 1);
  display: block;
}

.sidebar >.dash-link a {
  margin: 40px 0;
  cursor: pointer;
  gap: 10px;
}
.dash-link i{
  margin-right: 10px;
  color: rgba(231, 158, 3, 1);
}
.sidebar a.active,
.sidebar a:hover {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px 0px 0px 10px;
}

.main {
  margin-left: 220px;
  padding: 20px;
  overflow-y: auto;
  width: calc(100% - 220px);
  height: 100vh;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.topbar .left {
  flex: 1;
}

.topbar .right {
  display: inline-block;
  align-items: center;
  gap: 10px;
}

.topbar input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 300px;
}

.create-btn {
  background-color: #fbc02d;
  color: #000;
  border: none;
  padding: 10px 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.actions{
  display: flex;
  align-items: center;
  gap: 7px;
}
.cir-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
}
.cards {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.card-a {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: auto;
  background: #eee;
  padding: 15px;
  border-radius: 10px;
}

.card-a span {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.yellow {
  background-color:rgba(231, 158, 3, 0.37);
;
}

.green {
  background-color: rgba(186, 218, 189, 1);
;
}

.red {
  background-color: rgba(235, 188, 188, 1);
}

.events {
  margin-top: 20px;
}

.section-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.event-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.event-card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.event-card img {
  width: 100%;
  border-radius: 10px;
}

.event-info {
  margin-top: 10px;
}

.analytics {
  margin-top: 40px;
}

.analytics-content {
  display: flex;
  gap: 20px;
}

.chart {
  width: 250px;
  height: auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.chart-in{
  display: flex;
  justify-content: space-between;
}

.table {
  flex: 1;
 background: white;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
thead, tr, th{
 width: 10%;
 text-align: center;
 line-height: 30px;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  color: white;
  font-size: 12px;
}

.status.pink {
  background: #e84393;
}

.carder {
    display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
  position: relative;
}
.carder::-webkit-scrollbar {
  display: none;
}

.carder-hi{
  display: flex;
  justify-content: space-between;
}

.carder-hei{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding-bottom: 20px;
  p{
    font-size: 12px;
    display: red;
  }
}
 .top-card {
        height: auto;
        display: flex;
        justify-content: space-between;

        .orange {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .text {
                background-color: #FFE347;

            }
        }

        .colore {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .text {
                background-color: #EDFF71;
            }
        }

        .blue {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .text {
                background-color: #5F62B7;
            }
        }

        .red {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .text {
                background-color: #870404;
                color: #fff;
            }
        }

        .card {
            width: 268px;
            height: 330px;
            border-radius: 20px;
            margin-bottom: 10px;
            margin-right: 10px;
            background: #FFFFFF;
            cursor: pointer;
          gap: 500px ;
            .top--love {
                position: relative;

                .love {
                    border-radius: 50%;
                    color: white;
                    position: absolute;
                    left: 230px;
                    top: 20px;
                    transition: all 0.3s ease;
                }
            }

            .love.active {
                color: rgba(244, 69, 101, 1);
            }

            .top--love>.love:hover {
                background-color: rgba(217, 217, 217, 1);
                padding: 3px;
                color: rgba(244, 69, 101, 1);
            }

            .text {
                width: 110px;
                height: 20px;
                border-radius: 5px;
                text-align: center;
                padding: 2px;
                margin: 9px 10px;
                font-size: 12px;
            }

            .pad {
                display: flex;
                gap: 10px;
                padding-left: 10px;
                padding-right: 20px;

                span {
                    font-size: 13px;
                }
            }

            .pad1 {
                gap: 10px;
                padding: 25px 10px;
            }
        }

        .pix-1 {
            padding-top: 5px;
        }

        .left-mov {
            padding-left: 5px;
        }
    }

    .card:hover {
        box-shadow: 0px 4px 4px 4px rgba(241, 219, 75, 1);
    }

    h4 {
        font-size: 13px;
        margin-left: 10px;
        padding-bottom: 10px;
    }


/* 
.card-pin {
    width: 220px;
    height: auto;
    background: rgba(8, 38, 143, 0.05);
    border-radius: 15px;
    margin-bottom: 10px;
}
.card-pin>img {
    width: 220px;
    height: auto;
    padding: 10px;
} */


/* .card-pin>h1 {
    font-size: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.text--down {
    display: flex;
    gap: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    align-items: center;

    img {
        width: 15px;
        height: auto;
    }

    img,
    p {
      font-size: 9px;
        align-items: center;
        text-align: center;
    }
} */

/* .text--up {
    display: flex;
    gap: 9px;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;

    img {
        width: 15px;
        height: auto;
    }

    img,
    p {
      font-size: 9px;
        align-items: center;
        text-align: center;
    }
} */

.group--down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.class-div {
    width: 50px;
    height: 60px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    color: rgba(231, 158, 3, 1);
    padding-right: 10px;
    p {
        background: rgba(6, 28, 104, 1);
        padding: 15px;
        border-radius: 15px;
        font-size: 7px;
    }

}

.carousel-buttons {
  display: flex;
  justify-content: right;
  gap: 1rem;
  padding-right: 15px;
}

.carousel-btn {
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.carousel-btn:hover {
  background-color: #b7b7b7;
}

